@font-face {
    font-family: 'InfinitySans-RegularA1';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-RegularA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 0;
    font-family: "InfinitySans-RegularA1";
    background-color: #EEEEEE;
}

h1{
    text-align: center;
    font-size: 5vw;
    padding-top: 10%;
    animation: FadeIN 1s;
}

h2{
    font-size: 1.5vw;
    padding-top: 10%;
    animation: FadeIN 1s;
}

.nav_container{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #FFD077;
    list-style-type: none;
    position: fixed;
    animation-duration: 0.7s;
    animation-name: slidein;
}

.nav_item{
    padding: 25px;
    cursor: pointer;
}

.nav_item a{
    text-align: center;
    color: black;
    text-decoration: none;
    border: 300%;
}

a:hover{
    color: #FF4A3F;
}

ul img{
    width: 70px;
    margin-left: 15px;
    margin-right: auto;
}

.main_logo{
    display: flex;
    width: 70%;
    margin: auto;
    position: relative;
    top: 80px;
    border-radius: 20px;
    z-index: -1;
    animation: FadeIN 1s;
}

.Developer{
    text-align: left;
    margin-left: 50px;
}

@keyframes slidein {
  from {
    margin-top: -100;
  }

  to {
    margin-top: 0%;
  }
}

@keyframes FadeIN {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}